<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration 中设置debug=true，在springboot启动前会产生辣鸡日志 -->
<configuration>

    <property name="LOG_HOME" value="log"/>
    <!--输出到控制台-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%red(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-6level) %green([%thread]) [%X{logId}] %boldMagenta(%-50logger ->%5L) ： %cyan(%msg) %n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="ch.qos.logback" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
